.base {
    display: none;

    &__isVisible {
        display: inline;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 5px 0;
}

.icon {
    margin-right: 5px;
}

.title {
    font-weight: bold;
}
